/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../../assets/login.jpg');
    /* 替换为实际的背景图片路径 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 400px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: translateX(400px);
    position: relative;
    top: 50%;
    left: 45%;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 0.5rem;
}

.input-group label {
    margin-right: 0.5rem;
    color: #333;
}

.input-group input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: black;
}

/* .icon-user::before,
.icon-lock::before {
    font-family: "FontAwesome";
}

.icon-user::before {
    content: "\f007";
}

.icon-lock::before {
    content: "\f023";
} */
.icon {
    width: 20px;
    /* 设置图标宽度 */
    height: 20px;
    /* 设置图标高度 */
    margin-right: 0.5rem;
    /* 添加右边距 */
    vertical-align: middle;
    /* 垂直居中对齐 */
}

.radio-group {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.radio-group label {
    font-size: 0.9rem;
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}